/* fondo del navbar */
.bg-light {
  /*background-color: #fabc3d !important;*/

  background-color: #09253c !important;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0;
  margin-right: 0.125rem;
  background-color: #09253c;
  border-color: #41464b;
  border-width: 2px;
  color: #41464b;
  width: max-content;
}

a {
  color: #adb5bd !important;
}
.link:hover {
  cursor: pointer;
}
a:hover {
  color: white !important;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 2px solid #41464b;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 1;
}
