body {
  background-color: #09253c !important;
}

.text-yellow {
  color: #fabc3d !important;
}
.map {
  height: 90vh !important;
}
.map {
  width: 100%;
  height: 400px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #05131e;
  background-clip: padding-box;
  border: 1px solid rgb(255 255 255);
  border-radius: 0.3rem;
  outline: 0;
  color: white;
}
.btn-close {
  background-color: #fff !important;
  opacity: 1;
}

.toast-body {
  padding: 0.75rem;
  word-wrap: break-word;
  color: white;
  background-color: #09253c;
}

.link {
  text-decoration: none;
  color: white !important;
}

p {
  margin: 0;
}

.card {
  color: #09253c;
  padding: 1em;
}

.table {
  color: #09253c;
}
.modal-backdrop {
  width: 0 !important;
  height: 0 !important;
}

.parada-habilitada {
  background-color: #198754;
  padding: 4px;
  border-radius: 0.5em;
  color: white;
}

.parada-deshabilitada {
  background-color: #dc3545;
  padding: 4px;
  border-radius: 0.5em;
  color: white;
}
